/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  position: relative;
}

.box-450 {
  max-width: 450px;
}

.box-20per {
  max-width: 20%;
}

.box-30 {
  max-width: 30px;
}

/* Smartphones (portrait and landscape) ----------- */
/* iPads (portrait and landscape) ----------- */
/* Large screens ----------- */
.dflex-ai {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dflex-end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  25% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  75% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-moz-keyframes bounce {
  0% {
    -moz-transform: translateY(0%);
         transform: translateY(0%);
  }
  25% {
    -moz-transform: translateY(-10%);
         transform: translateY(-10%);
  }
  50% {
    -moz-transform: translateY(0%);
         transform: translateY(0%);
  }
  75% {
    -moz-transform: translateY(-10%);
         transform: translateY(-10%);
  }
  100% {
    -moz-transform: translateY(0%);
         transform: translateY(0%);
  }
}

@-o-keyframes bounce {
  0% {
    -o-transform: translateY(0%);
       transform: translateY(0%);
  }
  25% {
    -o-transform: translateY(-10%);
       transform: translateY(-10%);
  }
  50% {
    -o-transform: translateY(0%);
       transform: translateY(0%);
  }
  75% {
    -o-transform: translateY(-10%);
       transform: translateY(-10%);
  }
  100% {
    -o-transform: translateY(0%);
       transform: translateY(0%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
  }
  25% {
    -webkit-transform: translateY(-10%);
       -moz-transform: translateY(-10%);
         -o-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
  }
  75% {
    -webkit-transform: translateY(-10%);
       -moz-transform: translateY(-10%);
         -o-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  font-weight: normal;
  margin: 0 auto;
  color: #000000;
}

.wrp {
  position: relative;
}

.cntr {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1280px) {
  .cntr {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.main {
  margin-top: 94px;
}

/** LAYOUTS **/
.gap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  /*gaps*/
  /*
	*
	* How to use gap classes :
	*
	*  Ex: <div class="gap gap-2 gap-0-xs">
	*			<div class="md-6 xs-12"></div>
	*			<div class="md-6 xs-12"></div>
	*		</div>
	*
	*/
  /********/
  /* EXTRA SMALL DEVICES */
  /********/
  /********/
  /* SMALL DEVICES */
  /********/
  /********/
  /* MEDIUM DEVICES */
  /********/
  /********/
  /* EXTRA SMALL DEVICES */
  /********/
  /********/
  /* SMALL DEVICES */
  /********/
  /********/
  /* MEDIUM DEVICES */
  /********/
}

.gap.gap-0-xs {
  margin-left: 0px;
  margin-right: 0px;
}

.gap.gap-0-xs > [class^="xs"] {
  padding-left: 0px;
  padding-right: 0px;
}

.gap.gap-0-xs > [class*=" xs"] {
  padding-left: 0px;
  padding-right: 0px;
}

.gap.gap-10-xs {
  margin-left: -10px;
  margin-right: -10px;
}

.gap.gap-10-xs > [class^="xs"] {
  padding-left: 10px;
  padding-right: 10px;
}

.gap.gap-10-xs > [class*=" xs"] {
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 569px) {
  .gap.gap-0-sm {
    margin-left: 0px;
    margin-right: 0px;
  }
  .gap.gap-0-sm > [class^="sm"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gap.gap-0-sm > [class*=" sm"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gap.gap-10-sm {
    margin-left: -10px;
    margin-right: -10px;
  }
  .gap.gap-10-sm > [class^="sm"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .gap.gap-10-sm > [class*=" sm"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .gap.gap-20-sm {
    margin-left: -20px;
    margin-right: -20px;
  }
  .gap.gap-20-sm > [class^="sm"] {
    padding-left: 20px;
    padding-right: 20px;
  }
  .gap.gap-20-sm > [class*=" sm"] {
    padding-left: 20px;
    padding-right: 20px;
  }
  .gap.gap-30-sm {
    margin-left: -30px;
    margin-right: -30px;
  }
  .gap.gap-30-sm > [class^="sm"] {
    padding-left: 30px;
    padding-right: 30px;
  }
  .gap.gap-30-sm > [class*=" sm"] {
    padding-left: 30px;
    padding-right: 30px;
  }
  .gap.gap-40-sm {
    margin-left: -40px;
    margin-right: -40px;
  }
  .gap.gap-40-sm > [class^="sm"] {
    padding-left: 40px;
    padding-right: 40px;
  }
  .gap.gap-40-sm > [class*=" sm"] {
    padding-left: 40px;
    padding-right: 40px;
  }
  .gap.gap-50-sm {
    margin-left: -50px;
    margin-right: -50px;
  }
  .gap.gap-50-sm > [class^="sm"] {
    padding-left: 50px;
    padding-right: 50px;
  }
  .gap.gap-50-sm > [class*=" sm"] {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 767px) {
  .gap.gap-0 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .gap.gap-0 > [class^="md"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gap.gap-0 > [class*=" md"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gap.gap-10 {
    margin-left: -10px;
    margin-right: -10px;
  }
  .gap.gap-10 > [class^="md"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .gap.gap-10 > [class*=" md"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .gap.gap-20 {
    margin-left: -20px;
    margin-right: -20px;
  }
  .gap.gap-20 > [class^="md"] {
    padding-left: 20px;
    padding-right: 20px;
  }
  .gap.gap-20 > [class*=" md"] {
    padding-left: 20px;
    padding-right: 20px;
  }
  .gap.gap-30 {
    margin-left: -30px;
    margin-right: -30px;
  }
  .gap.gap-30 > [class^="md"] {
    padding-left: 30px;
    padding-right: 30px;
  }
  .gap.gap-30 > [class*=" md"] {
    padding-left: 30px;
    padding-right: 30px;
  }
  .gap.gap-40 {
    margin-left: -40px;
    margin-right: -40px;
  }
  .gap.gap-40 > [class^="md"] {
    padding-left: 40px;
    padding-right: 40px;
  }
  .gap.gap-40 > [class*=" md"] {
    padding-left: 40px;
    padding-right: 40px;
  }
  .gap.gap-50 {
    margin-left: -50px;
    margin-right: -50px;
  }
  .gap.gap-50 > [class^="md"] {
    padding-left: 50px;
    padding-right: 50px;
  }
  .gap.gap-50 > [class*=" md"] {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.gap .xs-0 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 0%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 0%;
          flex: 0 0 0%;
  max-width: 0%;
}

.gap .xs-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.66667%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.gap .xs-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.gap .xs-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33333%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.gap .xs-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.66667%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.gap .xs-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.gap .xs-7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.33333%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.gap .xs-8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.66667%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.gap .xs-9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.gap .xs-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.33333%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.gap .xs-11 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.66667%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.gap .xs-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 569px) {
  .gap .sm-0 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 0%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 0%;
            flex: 0 0 0%;
    max-width: 0%;
  }
  .gap .sm-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .gap .sm-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .gap .sm-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .gap .sm-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .gap .sm-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .gap .sm-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .gap .sm-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .gap .sm-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .gap .sm-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .gap .sm-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .gap .sm-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 767px) {
  .gap .md-0 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 0%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 0%;
            flex: 0 0 0%;
    max-width: 0%;
  }
  .gap .md-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .gap .md-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .gap .md-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .gap .md-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .gap .md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .gap .md-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .gap .md-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .gap .md-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .gap .md-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .gap .md-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .gap .md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.header {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

@media (max-width: 767px) {
  .header .cntr {
    padding-left: 0;
    padding-right: 0;
  }
}

.header-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media (max-width: 767px) {
  .header-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header-nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .header-nav-list {
    width: 100%;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    transition: all 0.35s ease;
    position: absolute;
    bottom: 0px;
    z-index: 9;
    display: block;
    left: 0px;
    right: 0px;
    -webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
  }
}

.header-nav-list.is-active {
  opacity: 1;
  visibility: visible;
  bottom: -218px;
  z-index: 2;
  background-color: #fff;
}

.header-nav-list.is-active .header-nav-item {
  margin-right: 0;
}

.header-nav-list.is-active .header-nav-link {
  padding: 10px 15px;
}

.header-nav-item {
  margin-right: 50px;
}

.header-nav-item:last-child {
  margin-right: 0;
}

.header-nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  text-decoration: none;
  font-size: 16px;
}

.burger {
  position: relative;
  display: none;
  cursor: pointer;
  width: 2rem;
  height: 1rem;
  border: none;
  outline: none;
  opacity: 0;
  visibility: hidden;
  background: none;
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  margin-left: auto;
}

@media (max-width: 767px) {
  .burger {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

.burger.is-active .burger-line:nth-child(1), .burger.is-active .burger-line:nth-child(4) {
  top: 1.25rem;
  width: 0%;
  left: 50%;
}

.burger.is-active .burger-line:nth-child(2) {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger.is-active .burger-line:nth-child(3) {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger-line {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  border: none;
  outline: none;
  opacity: 1;
  -webkit-border-radius: 0.25rem;
     -moz-border-radius: 0.25rem;
          border-radius: 0.25rem;
  background: #121212;
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.burger-line:nth-child(1) {
  top: 0;
}

.burger-line:nth-child(2), .burger-line:nth-child(3) {
  top: 0.5rem;
}

.burger-line:nth-child(4) {
  top: 1rem;
}

.footer {
  padding-top: 150px;
  padding-bottom: 150px;
}

@media (max-width: 767px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.footer-logo {
  text-align: center;
  margin-bottom: 25px;
}

.footer-title {
  font-size: 30px;
  margin-bottom: 30px;
}

.footer-services-item {
  margin-bottom: 5px;
}

.footer-services-item:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .footer-logo-content, .footer-services {
    margin-bottom: 50px;
  }
}

.footer-services-link {
  color: #333;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-info-item {
  margin-bottom: 25px;
}

.footer-info-item:last-child {
  margin-bottom: 0;
}

.footer-email, .footer-number {
  color: #333;
  display: inline-block;
  text-decoration: none;
}

/** MODULES **/
.dblock {
  display: block;
}

.diblock {
  display: inline-block;
}

.dflex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.diflex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.dnone {
  display: none;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.ai {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mlr-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.global-mt {
  margin-top: 100px;
}

/** MARGIN TOP **/
/** SP **/
.mt-0-xs {
  margin-top: 0px;
}

/** PC **/
@media (min-width: 767px) {
  .mt-0 {
    margin-top: 0px !important;
  }
}

/** END MARGIN TOP **/
/** MARGIN BOTTOM **/
/** SP **/
.mb-0-xs {
  margin-bottom: 0px;
}

.mb-30-xs {
  margin-bottom: 30px;
}

/** PC **/
@media (min-width: 767px) {
  .mb-0 {
    margin-bottom: 0px !important;
  }
}

/** END MARGIN BOTTOM **/
/** PADDING TOP **/
/** SP **/
.pt-0-xs {
  padding-top: 0px;
}

/** PC **/
@media (min-width: 767px) {
  .pt-0 {
    padding-top: 0px !important;
  }
}

/** END PADDING TOP **/
/** PADDING BOTTOM **/
/** SP **/
.pb-0-xs {
  margin-bottom: 0px;
}

/** PC **/
@media (min-width: 767px) {
  .pb-0 {
    margin-bottom: 0px !important;
  }
}

/** END MARGIN BOTTOM **/
.fs-18-xs {
  font-size: 18px;
}

@media (min-width: 767px) {
  .fs-20 {
    font-size: 20px !important;
  }
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.is-wide {
  width: 100%;
}

.flex-row-rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.ov-hidden {
  overflow: hidden;
}

.contact {
  background-color: #333;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (max-width: 767px) {
  .contact {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.contact .gap {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-title {
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 40px;
}

.contact-description {
  color: #fff;
}

@media (max-width: 767px) {
  .contact-content {
    margin-bottom: 50px;
  }
}

.input-type {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #f1f0f0;
  outline: none;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.input-form-group {
  margin-bottom: 15px;
}

.input-form-group textarea.input-type {
  height: 100px;
  resize: none;
}

.contact-button button {
  border: 0;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 10px;
  width: 100px;
}

.mv {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

@media (max-width: 767px) {
  .mv {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.mv:before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #333333;
  height: 100%;
  width: 35%;
  z-index: -1;
}

@media (max-width: 767px) {
  .mv:before {
    display: none;
  }
}

.mv-content {
  max-width: 500px;
  width: 100%;
  margin-left: -webkit-calc(20px + (300 - 20) * ((100vw - 767px) / (1903 - 767)));
  margin-left: -moz-calc(20px + (300 - 20) * ((100vw - 767px) / (1903 - 767)));
  margin-left: calc(20px + (300 - 20) * ((100vw - 767px) / (1903 - 767)));
}

@media (max-width: 767px) {
  .mv-content {
    margin-left: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
}

.mv-content h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.mv-content p {
  margin-bottom: 25px;
}

.mv-content .mv-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mv-content .mv-button a {
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
  text-decoration: none;
  padding: 10px 25px;
  margin-right: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.mv-content .mv-button a:hover {
  background-color: transparent;
  color: #000;
}

.mv-content .mv-button a:last-child {
  margin-right: 0;
}

.mv-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .mv-wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.mv-img {
  text-align: right;
}

@media (max-width: 767px) {
  .mv-img {
    text-align: center;
  }
}

.mv-img img {
  width: 100%;
}

@media (max-width: 767px) {
  .mv-img img {
    width: 100%;
  }
}
